# Dependencies
node_modules

# Build output
dist
dist-ssr
*.local

# Testing
/coverage
/test-results
/playwright-report
/blob-report
/playwright/.cache

# Logs
logs
*.log
npm-debug.log*

# Env
.env
.env.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
